$scheme: 'yellow';
$scheme-bgcolor: #FEC659;
$scheme-color: #966000;
$scheme-color-hover: darken($scheme-color, 10%);

$cssVars_scheme: (
  MenuChef-scheme-bgcolor: $scheme-bgcolor,
  MenuChef-scheme-color: $scheme-color,
  MenuChef-scheme-color-hover: $scheme-color-hover
);

@import 'scheme';
