$font-1: 'Open Sans', sans-serif;
$font-2: 'Aquino Demo', $font-1;
$font-3: 'Alex Brush', $font-1;

$color-1: #e2bf3b;
$color-2: #787167;
$color-3: #f0f0e6;

$color-main: $color-1;
$text-color: #fff;

$selection-color: $color-main;
$selection-text-color: $text-color;
