<div class="ribbonFit">
  <svg
 xmlns="http://www.w3.org/2000/svg"
 xmlns:xlink="http://www.w3.org/1999/xlink"
 width="73px" height="123px">
<path fill-rule="evenodd"  fill="rgb(229, 199, 94)"
 d="M68.154,122.708 L64.283,122.708 L44.675,103.034 C40.153,98.498 32.824,98.498 28.302,103.034 L8.693,122.708 L4.846,122.708 C2.462,122.708 0.529,120.769 0.529,118.377 L0.529,-0.000 L72.471,-0.000 L72.471,118.377 C72.471,120.769 70.538,122.708 68.154,122.708 Z"/>
<path fill-rule="evenodd"  fill="rgb(255, 255, 255)"
 d="M55.187,33.215 C51.962,33.631 50.220,33.878 49.962,33.956 C49.469,34.398 48.563,35.716 47.242,37.912 C45.921,40.108 45.261,41.712 45.261,42.726 C45.261,43.687 45.921,44.168 47.242,44.168 C47.864,44.168 48.680,43.973 49.690,43.583 C50.700,43.193 51.477,42.830 52.021,42.492 C53.471,41.582 55.025,40.244 56.682,38.477 C57.045,38.113 57.291,37.931 57.420,37.931 C57.498,37.931 57.537,38.009 57.537,38.165 C57.537,38.321 57.343,38.633 56.954,39.101 C55.607,40.764 54.092,42.102 52.409,43.115 C50.389,44.363 48.459,44.986 46.621,44.986 C45.817,44.986 45.164,44.811 44.659,44.460 C44.154,44.109 43.901,43.402 43.901,42.336 C43.901,41.474 44.222,40.339 44.832,38.959 C44.683,39.164 44.465,39.419 44.173,39.724 C43.577,40.348 43.105,40.842 42.755,41.205 C42.406,41.570 42.166,41.810 42.036,41.927 C41.907,42.043 41.667,42.265 41.318,42.589 C40.968,42.914 40.702,43.142 40.521,43.271 C40.340,43.402 40.081,43.596 39.744,43.856 C39.408,44.116 39.109,44.304 38.851,44.421 C38.592,44.538 38.294,44.674 37.957,44.830 C37.413,45.064 36.766,45.181 36.015,45.181 C34.694,45.181 34.034,44.324 34.034,42.609 C34.034,41.205 34.797,39.263 36.326,36.781 C37.854,34.300 39.084,33.046 40.016,33.020 C40.275,33.020 40.566,33.124 40.890,33.332 C41.214,33.540 41.376,33.748 41.376,33.956 C41.246,34.138 41.091,34.339 40.910,34.560 C40.728,34.781 40.534,35.021 40.327,35.281 C40.120,35.541 39.835,35.911 39.472,36.392 C39.109,36.873 38.760,37.334 38.424,37.775 C36.481,40.296 35.510,42.031 35.510,42.979 C35.510,43.928 35.833,44.402 36.481,44.402 C37.025,44.402 37.763,44.103 38.696,43.505 C40.871,42.154 42.593,40.673 43.862,39.062 C44.329,38.464 44.645,38.165 44.814,38.165 C44.977,38.165 45.057,38.267 45.063,38.462 C45.144,38.289 45.209,38.131 45.300,37.951 C46.232,36.093 46.944,34.710 47.436,33.800 C47.073,33.878 46.763,33.917 46.504,33.917 C45.753,33.917 45.377,33.618 45.377,33.020 C45.377,32.579 45.688,32.267 46.310,32.085 C46.387,32.085 46.504,32.072 46.659,32.046 L48.913,32.046 C49.379,31.448 49.909,30.759 50.505,29.980 C51.230,29.044 51.722,28.577 51.982,28.577 C52.240,28.577 52.564,28.681 52.953,28.888 C53.341,29.097 53.536,29.343 53.536,29.629 C53.536,29.915 52.914,30.759 51.671,32.163 C52.344,32.189 53.225,32.202 54.313,32.202 L59.907,32.124 C59.984,32.176 60.023,32.215 60.023,32.241 C60.023,32.474 58.411,32.800 55.187,33.215 ZM43.124,31.344 C42.736,31.344 42.379,31.202 42.056,30.915 C41.732,30.630 41.570,30.305 41.570,29.941 C41.570,29.214 42.062,28.849 43.047,28.849 C43.435,28.849 43.804,28.973 44.154,29.220 C44.503,29.467 44.678,29.759 44.678,30.097 C44.678,30.435 44.516,30.727 44.193,30.974 C43.868,31.221 43.513,31.344 43.124,31.344 ZM39.589,26.901 C39.460,26.901 39.330,26.797 39.201,26.589 C38.968,26.173 38.579,25.965 38.036,25.965 C36.844,25.965 35.730,26.823 34.695,28.538 C34.487,28.876 33.840,30.097 32.752,32.202 L33.218,32.202 C36.041,32.202 37.919,32.163 38.851,32.085 C38.955,32.111 39.007,32.163 39.007,32.241 C39.007,32.449 38.087,32.734 36.248,33.098 C34.513,33.384 33.088,33.631 31.975,33.839 C31.172,35.502 30.201,37.477 29.061,39.763 C26.731,44.129 25.189,46.844 24.439,47.910 C22.185,51.131 19.984,52.743 17.834,52.743 C17.083,52.743 16.430,52.424 15.872,51.788 C15.316,51.151 15.024,50.443 14.998,49.664 C15.076,49.352 15.193,49.196 15.348,49.196 C15.426,49.196 15.478,49.287 15.503,49.469 C15.659,50.144 15.918,50.664 16.280,51.028 C16.643,51.391 17.018,51.574 17.407,51.574 C19.609,51.574 21.616,50.209 23.428,47.481 C24.464,45.922 25.876,43.115 27.663,39.062 L29.761,33.995 C27.171,33.969 25.876,33.657 25.876,33.059 C25.876,32.800 25.999,32.579 26.245,32.396 C26.491,32.215 26.704,32.124 26.886,32.124 L30.538,32.202 C33.076,26.537 35.407,23.704 37.530,23.704 C38.333,23.704 39.149,24.094 39.978,24.874 C40.185,25.082 40.289,25.355 40.289,25.692 C40.289,26.498 40.056,26.901 39.589,26.901 Z"/>
<text font-family="Open Sans" fill="rgb(169, 147, 69)" transform="matrix( 0.34783649583802, 0, 0, 0.34899454686855,16.6553463066289, 64.7785190859601)" font-weight="bold" font-size="37.229px"> <tspan dy="0.4em" x="0.15em">13 kb</tspan><tspan x="-0.4em" dy="0.986em">calories</tspan>
</text>
</svg>
</div>

<header class="Header" id="home">
  <div class="container">
    <div class="Header-wrapper">
      <div class="rellax" data-rellax-speed="1"><div class="Header-icon Header-icon--3"></div></div>
      <div class="rellax" data-rellax-speed="2"><div class="Header-icon Header-icon--1"></div></div>
      <div class="rellax" data-rellax-speed="4"><div class="Header-icon Header-icon--2"></div></div>
      <div class="Header-logo">
        <img src="assets/img/menuchef-logo.png" title="MenuChef" alt="MenuChef">
        <div class="Header-logo-slogan">
          Create hamburgers' menu like a chef
          <br>
          <span>v1.0.0</span>
        </div>
        <div class="Header-logo-btns">
          <a class="github-button" href="https://github.com/theus/MenuChef" data-icon="octicon-star" data-show-count="true" aria-label="Star theus/instantgargom on GitHub" data-size="large">Star</a>
          <a class="github-button" href="https://github.com/theus/MenuChef/archive/master.zip" data-icon="octicon-cloud-download" aria-label="Download theus/MenuChef on GitHub" data-size="large">Download</a>
        </div>
      </div><!-- /.Header-logo -->
      <div class="Header-bottom">
        <div class="rellax" data-rellax-speed="1"><div class="Header-icon Header-icon--4"></div></div>
        <div class="rellax" data-rellax-speed="2"><div class="Header-icon Header-icon--5"></div></div>
        <div>
          <div class="rellax" data-rellax-speed="3"><div class="Header-icon Header-icon--6"></div></div>
        </div>
      </div><!-- /.Header-bottom -->
    </div><!-- /.Header-wrapper -->
  </div><!-- /.container -->
</header><!-- /.Header -->